[Unit]
Description=WatchYourNetwork Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/wyn-server/server.py --config /etc/wyn/server.yaml --ui-dir /opt/wyn-server/wyn-ui
WorkingDirectory=/opt/wyn-server
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
